:root {
    --primary-color:#ffffff ;
    --secondary-color: #B80000;
    --accent-color: #e74c3c;
    --text-color: #333;
    --bg-color: #ecf0f1;
    --ai-gradient:linear-gradient(97deg, #0096FF, #BB64FF 42%, #F2416B 74%, #EB7500) ;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.icons {
    width: 70px;
    height: 70px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

nav {
    background-color: var(--secondary-color);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: 1s;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}

.logo {
    max-width: 60px;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 600;

    transition: color 0.5s;
}

.nav-links a:hover {
    color: black;
    transition: color 0.3s;
}




a:active {
    text-decoration: none;
    outline: 0;
    transition: 1s;


}

.active {

    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 5px;
}

a:hover,
button:hover {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;

}

.hero {
    background-image: url('https://img.freepik.com/free-vector/coaching-flat-cartoon-concept-with-business-training-scene-vector-illustration_1284-81767.jpg?w=900&t=st=1728310195~exp=1728310795~hmac=b1414c868488a401e4e6fb7ada9cd3dba3a0c2d2ca586a96439bbca69dd4e416');
    /* background:url(image/bg.png) ; */
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;

    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.points p {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 8px 10px;
    padding: 8px 10px;
    border-radius: 8px;
    color: #B80000;
    background-color: #ffffff;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero .container {
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}


section {
    padding: 5rem 0;
    background-image: linear-gradient(rgba(189, 0, 0, 0.11) 2px, transparent 2px), linear-gradient(to right, rgba(189, 0, 0, 0.11) 2px, transparent 2px);
    background-size: 63px 63px;
    background-color: #e2e2e2;
    /* background-color: #ffffff; */
}

section:nth-child(even) h1{
    /* background-color: var(--bg-color); */
    /* background-image: url('https://img.freepik.com/free-vector/futuristic-technology-hud-style-concept-background-design_1017-27264.jpg?t=st=1729613316~exp=1729616916~hmac=43807507cba22de6c2b3602590d35ee82a997c8f4addef64416419e0428f20f2&w=1380');
    background-size: cover;
    background-position: center; */
    font-size: 3rem;
    

    background: linear-gradient(97deg, #0096FF, #BB64FF 42%, #F2416B 74%, #EB7500);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
section:nth-child(odd) h2{
    /* background-color: var(--bg-color); */
    /* background-image: url('https://img.freepik.com/free-vector/futuristic-technology-hud-style-concept-background-design_1017-27264.jpg?t=st=1729613316~exp=1729616916~hmac=43807507cba22de6c2b3602590d35ee82a997c8f4addef64416419e0428f20f2&w=1380');
    background-size: cover;
    background-position: center; */
    font-size: 3rem;
    color: var(--secondary-color);

    /* background: linear-gradient(97deg, #0096FF, #BB64FF 42%, #F2416B 74%, #EB7500);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}

#company-profile {
    background-image: url('image/green.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
}


#who-can-apply {
    background-image: url('image/apply.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;

}

.list ::marker {
    content: "➜  ";
    font-size: larger;

    color: #B80000;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    position: relative;
}

li::before {

    color: var(--primary-color);
    position: absolute;
    left: -20px;
}

blockquote {
    font-style: italic;
    border-left: 5px solid var(--secondary-color);
    padding-left: 20px;
    margin-top: 20px;
    font-size: 1.2em;
    background: linear-gradient(97deg, #0096FF, #BB64FF 42%, #F2416B 74%, #EB7500);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 3rem 0;
    text-align: center;
}

.social-icons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: rgb(255, 255, 255);
}

.social-icon {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: rgb(0, 0, 0);
}

/* New styles for About, Services, and Contact pages */
.page-header {
    background-color: var(--secondary-color);
    /* background-image: url( '/image/wave.svg' ); */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 6rem 0 3rem;
    text-align: center;
}

.about-content,
.services-content,
.contact-content {
    padding: 3rem 0;


}

.bg {
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bg-color);
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 10px;

}

.service-item {
    margin-bottom: 3rem;
}

.contact-info,
.contact-form {
    margin-bottom: 2rem;
    color:#B80000;
    font-size: 1.3rem;
    padding: 1rem;
}

.contact-info > i{
    padding-left: 10px;
}
.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
}
.red{
    color: #B80000;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.submit-btn {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #000;
}
.center{
    text-align: center;
    width: 100%;
    height: auto;
    background: linear-gradient(97deg, #0096FF, #BB64FF 42%, #F2416B 74%, #EB7500);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--secondary-color);
        padding: 1rem 0;
    }

    #company-profile {


        flex-wrap: wrap;

    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    h1 {
        font-size: 2.2rem;
        line-height: 1;
        margin-top: 2rem;
    }

    h2 {
        font-size: 2rem;
        line-height: 1.1;
       
    }


    .contact-content .container {
        flex-direction: column;
    }

    .contact-info,
    .contact-form {
        width: 100%;
    }

    .contact-info{
        font-size: 1rem;
    }
    section:nth-child(odd) h2{
        font-size: 2.3rem;
    }
    .center{
        font-size: 0.5rem;
    }
}

